/*border color main*/
$p-b-color:#e7e0cc;
/*border radius main*/
$bd-r-main: 25px;
/*colours*/
$bg-text-main:#fff;
$star-color:rgb(243, 181, 25);
$price-color:#088178;
$bg-text-second:#111;
$btn-color:#2f64f5;
$n-f-bg:#2c2c2c;
/* box p shadow*/
$box-ps:20px 20px 30px rgba(0, 0, 0, 0.10);
/*default width*/
$d-w:100%;

