@media (max-width:1200px){
}
@media (max-width:1085px){
    #trending .prod-container{
        max-width: 31%;
    }
    .nav-icons i{
        display: none;
    }
}
@media (max-width:1024px){¨
    .nav-icons i{
        display: none;
    }
    nav a{
        font-size: 15px;
    }

    #trending .prod-container{
        max-width: 48%;
    }
    .header-thk h1{
        font-size: 40px;
        text-align: center; 
    }
    .card-thk{
        text-align: center;
    }
    .main-shipping{
        background: none;
        justify-content: center;
        .shipping{
            border: none;
            width: $d-w;
            align-items: center;
            .title-shp{
                font-size: 30px;
                i{
                    font-size: 25px;
                }
            }
            .InputBox{
                width: 100%;
                margin: 10px;
                padding: 5px;
                font-size: 15px;
            }
            .btn-shp{
                width: 100%;
                font-size: 15px;
                padding: 10px 0;
            }
            form{
                width: 100%;
                align-self: center;
            }
        }
    }
    .checkout{
        border-right: none;
        border-top: 1px solid $p-b-color;
        .payment-method{
            font-size: 13px;
            width: 500px;
            button{
                padding: 0 50px;
                text-align: left;
            }
        }
    }

}

        @media (max-width:768px){
            #trending .prod-container{
                max-width: 100%;
            }
            .down-arrow{
                display: none;
            }
            .main-text h1{
                font-size: 50px;
            }
            .main-btn{
                font-size: 15px;
            }
            .nav-icons{
               display: none;  
            }
            .offcanvas-body{
                background-color: #212529;
            }
            #pro-details .pro-img{
                width: 70%;
            }
            #pro-details{
                display: flex;
                flex-wrap: wrap;
                margin-bottom: 10px;
                padding-bottom: 10px;
                width: 90%;
            }
            .pro-info{
                width: 90%;
                display: flex;
                flex-direction: column;
                align-items: left;
                justify-content: center;
            }
            .payment-form{
                width: 100%;
                display: inline-block;
            }
            .card-thk{
                text-align: center;
            }
            
            .card-thk img{
                width: 50%;
                margin-left: 20px;
            }
            .header-thk h1{
                font-size: 40px;
                text-align: center; 
            }
            .more-p{
                text-align: center;
                margin-bottom: 20px;
            
            }
            .item-flex{
                flex-direction: column-reverse;
                align-items: center;
                .cart, .checkout{
                    width: 100%;
                }
                .checkout{
                    border-right: none;
                    border-top: 1px solid $p-b-color;
                    .payment-method{
                        font-size: 13px;
                        width: 500px;
                        button{
                            padding: 0 50px;
                            text-align: left;
                        }
                    }
                }

            }
        }


@media (max-width:480px){
    #trending .prod-container{
        max-width: 100%;
    }
    .down-arrow{
        display: none;
    }
    .main-btn{
        font-size: 10px;
    }
    .main-text h1{
        font-size: 45px;
    }
    .pro-img{
        max-width: 100%;
    }
    .payment-method{
        font-size: 10px;
        display: flex;
        max-width: 100%;
        button{
            width: 100%;
            text-align: left;
            font-size: 11px;
            justify-content: center;
        }
    }
    
}