#pro-details{
    display: flex;
    margin: 30px;
    gap: 50px;
    justify-content: center;
    .pro-img{
        width: 40%;
        max-width: 500px;
        padding: 5px;
        .main-img{
            margin-bottom: 5px;
            img{
                border-radius: 10px;
                width: $d-w;;
            }
        }
       
        .img-group{
            display: flex;
            justify-content: space-between;
            img{
                border-radius: 10px;
                width: $d-w;;
            }
        }
        .small-img{
            flex-basis: 24%;
        }
    }
    .pro-info{
        width: 50%;
        padding-top: 30px;
        h1{
            font-size: 30px;
            margin-bottom: 40px;
        }
         h2{
            font-size: 20px;
        }
         .p-t{
            font-size: 20px;
        }
        
         input{
            width: 50px;
            height: 47px;
            padding-left: 10px;
            font-size: 16px;
            border: none;
            background-color: #dfddd9;
            border-radius: 5px;
            margin-bottom: 10px;
        }
         button{
            padding: 10px;
        } 
         select{
            display: block;
            padding: 5px 10px;
            margin-bottom: 10px;
            border: none;
            background-color: #dfddd9;
            border-radius: 5px;
        }
    }
}



